@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?aw18xi');
  src:  url('../fonts/icomoon.eot?aw18xi#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?aw18xi') format('truetype'),
  url('../fonts/icomoon.woff?aw18xi') format('woff'),
  url('../fonts/icomoon.svg?aw18xi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e930";
  color: #8a8a8a;
}
.icon-jian:before {
  content: "\e931";
}
.icon-cancel:before {
  content: "\e932";
  color: #cdcdcd;
}
.icon-shopcart:before {
  content: "\e926";
  color: #dbdbdb;
}
.icon-flower:before {
  content: "\e92b";
  color: #f13e3a;
}
.icon-share:before {
  content: "\e92d";
  color: #cdcdcd;
}
.icon-rise:before {
  content: "\e92e";
  color: #f99e18;
}
.icon-rise1:before {
  content: "\e92f";
  color: #f13e3a;
}
.icon-clock3:before {
   content: "\e927";
   color: #cdcdcd;
}
.icon-time:before {
  content: "\e927";
  color: #cdcdcd;
}
.icon-point-large:before {
  content: "\e928";
  color: #f36;
}
.icon-right1:before {
  content: "\e929";
  color: #dbdbdb;
}
.icon-right:before {
  content: "\e92a";
  color: #444;
}
.icon-qiandao:before {
  content: "\e921";
  color: #fff;
}
.icon-diamond-01:before {
  content: "\e91f";
  color: #d5cd31;
}
.icon-hot:before {
  content: "\e920";
  color: #f8a832;
}
.icon-shopping:before {
  content: "\e900";
  color: #dbdbdb;
}
.icon-shopping-o:before {
  content: "\e901";
  color: #dbdbdb;
}
.icon-store:before {
  content: "\e902";
  color: #999999;
}
.icon-classify:before {
  content: "\e903";
  color: #dbdbdb;
}
.icon-thank:before {
  content: "\e904";
  color: #FF3366;
}
.icon-thank2:before {
  content: "\e905";
  color: #dbdbdb;
}
.icon-close:before {
  content: "\e906";
}
.icon-special:before {
  content: "\e907";
  color: #dbdbdb;
}
.icon-light:before {
  content: "\e908";
  color: #cdcdcd;
}
.icon-lingxing:before {
  content: "\e909";
  color: #dbdbdb;
}
.icon-message:before {
  content: "\e90a";
  color: #dbdbdb;
}
.icon-girl:before {
  content: "\e90b";
  color: #cdcdcd;
}
.icon-flag:before {
  content: "\e90c";
  color: #cdcdcd;
}
.icon-flash:before {
  content: "\e90d";
}
.icon-config:before {
  content: "\e90e";
}
.icon-collect:before {
  content: "\e90f";
  color: rgba(139, 157, 238, 0.7);
}
.icon-collect2:before {
  content: "\e910";
  color: #999999;
}
.icon-home:before {
  content: "\e911";
  color: #dbdbdb;
}
.icon-search:before {
  content: "\e912";
  color: #e6e6e6;
}
.icon-search1:before {
  content: "\e913";
  color: #e6e6e6;
}
.icon-search2:before {
  content: "\e914";
}
.icon-classify2:before {
  content: "\e915";
  color: #e6e6e6;
}
.icon-avatar:before {
  content: "\e916";
  color: #e6e6e6;
}
.icon-avatar1:before {
  content: "\e917";
  color: #dbdbdb;
}
.icon-avatar2:before {
  content: "\e918";
  color: #cdcdcd;
}
.icon-avatar3:before {
  content: "\e919";
  color: #dbdbdb;
}
.icon-avatar4:before {
  content: "\e91a";
  color: #dbdbdb;
}
.icon-wubianxing:before {
  content: "\e91b";
  color: rgba(245, 76, 84, 0.53);
}
.icon-circle:before {
  content: "\e91c";
  color: rgba(160, 230, 143, 0.79);
}
.icon-discount:before {
  content: "\e91d";
  color: #dbdbdb;
}
.icon-zheng:before {
  content: "\e91e";
  color: rgba(255, 192, 115, 0.56);
}
.icon-back:before {
  content: "\e922";
  color: #bfbfbf;
}
.icon-more:before {
  content: "\e923";
  color: #bfbfbf;
}
.icon-back2:before {
  content: "\e924";
  color: #bfbfbf;
}
.icon-more2:before {
  content: "\e925";
  color: #bfbfbf;
}
.icon-quill:before {
  content: "\e92c";
}
.icon-compass:before {
  content: "\e949";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-spinner7:before {
  content: "\e980";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
  color: #666;
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-share2:before {
  content: "\ea82";
}
